modules = ["swift"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "iOS App Build"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Simulator"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CLI Simulator"

[[workflows.workflow]]
name = "iOS App Build"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift build -c release"

[[workflows.workflow]]
name = "Simulator"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift simulator.swift"

[[workflows.workflow]]
name = "CLI Simulator"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "swift simulator.swift"

[deployment]
run = ["sh", "-c", "swift build -c release"]
